.country{ fill: rgb(0, 75, 151); }

.point {
    fill: orange;
    /*stroke: #FFF;*/
}

.hidden {
    display: none;
}

.map {
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}